.location-container {
    width: 85%;
    height: 85%;
    background-color: lightblue;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-ul {
    max-height: 50%;
    overflow-y: auto;
}

.location-div-grid {
    display: grid;
    grid-template-columns: auto 50ch;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    overflow-y: auto;
}

.location-img-name-desc {
    display: grid;
    grid-template-columns: 1fr 25ch 50ch 1fr;
}

.location-img {
    margin-left: 10px;
}
