.location-container {
    width: 100vw !important;
    height: 100vh !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    overflow-y: auto !important;
    gap: 25px;
}

.location-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

.location-h1 {
    padding: 0;
    margin: 0;
    color: rgb(200,211,236);
}

.location-weather-p {
    padding: 0;
    margin: 0;
    margin-top: -5px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(208,218,237);
}

.first-desc-p {
    color:  rgb(148, 163, 184);
}

.location-ul {
    max-height: 450px;
    overflow-y: auto;
    display: none;
}

.location-div-grid {
    display: grid;
    grid-template-columns: auto 50ch;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-y: show;
}

.location-img-name-desc {
    display: grid;
    grid-template-columns: 1fr 25ch 50ch auto;
    gap: 10px;
    align-items: center;
}

.booknow-p {
    font-weight: bolder;
}

.location-name-desc-booknow {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}
.location-img {
    margin-left: 10px;
}

.location-img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.location-img-btns {
    display: flex;
    gap: 10px;
}
